name: APK Builder

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 17

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Accept Android licenses
        run: sdkmanager --licenses

      - name: Install NDK 21.0.6113669
        run: echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install "ndk;21.0.6113669"

      - name: Grant execute permissions
        run: chmod +x ./gradlew

      - name: Build project
        run: ./gradlew build

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Build Unsigned Release APK
        run: ./gradlew assembleRelease

      - name: Upload APKs
        uses: actions/upload-artifact@v4
        with:
          name: MicroG-APKs
          path: |
            play-services-core/build/outputs/apk/debug/play-services-core-debug.apk
            play-services-core/build/outputs/apk/release/play-services-core-release-unsigned.apk
